<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <%- include nav.ejs %>
  <div class="banner">
  </div>
  <div class="content-container">
    <div class="album-list">
      <h2>Records</h2>
      <% albums.forEach(function(album) { %>
        <div>
          <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
          <span><%= album.artist %></span>
        </div>
        <% }) %>
      </div>

      <div class="recent-reviews">
        <h2>Recent Reviews</h2>
        <% reviews.forEach(function(review) { %>
          <div class="review-container">
            <div class="review">
              <div class="review-info">
                <div class="review-album-name">
                  <a href="/albums/<%= review.album_id %>">
                    <%=review.title%>
                  </a>
                </div>
                <div class="review-date">
                  <%=review.date_created%>
                </div>
              </div>
              <div class="review-body">
                <%=review.review%>
              </div>
              <div class="review-author">
                By <%=review.username%>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
  </div>

</body>
</html>
