<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <%- include nav.ejs %>
  <div class="profile-photo">
    <img src="<%=user.photo%>">
  </div>
  <h1><%=user.username%></h1>
  <div class="user-info">
    <div>Email: <%=user.email%></div>
    <div>Date Joined: <%=user.date_joined%></div>
  </div>
  <h1>Reviews</h1>
  <div class="user-reviews">
    <% reviews.forEach(review => { %>
      <div class="review-container">
        <div class="review">
          <div class="review-info">
            <div class="review-album-name">
              <%=review.title%>
            </div>
            <div class="review-date">
              <%=review.date_created%>
            </div>
          </div>
          <div class="review-body">
            <%=review.review%>
          </div>
        </div>
        <% if (user) { %>
          <% if (review.user_id === user.id) { %>
            <div class="review-delete-button" data-id="<%=review.id%>">
              <img src="https://cdn3.iconfinder.com/data/icons/cleaning-icons/512/Trash_Can-128.png">
            </div>
          <% } %>
        <% } %>
      </div>
    <% }) %>
  </div>


</body>
</html>
